<component name="ArtifactManager">
  <artifact type="war" name="mybatispractice:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="MybatisPractice.war">
      <element id="artifact" artifact-name="mybatispractice:war exploded" />
    </root>
  </artifact>
</component>